<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 72.1875">
<title>Institutions Icon</title>
</defs>
<g id="Calque_2" data-name="Calque 2">
<g id="Calque_1-2" data-name="Calque 1">
<path d="M30,0l-.53125.34375-29,18L0,18.625v5.5625H60V18.625l-.46875-.28125-29-18Zm0,2.375L58,19.75v2.4375H2V19.75ZM3,28.1875v2H5v27H3v2H17v-2H15v-27h2v-2Zm20,0v2h2v27H23v2H37v-2H35v-27h2v-2Zm20,0v2h2v27H43v2H57v-2H55v-27h2v-2Zm-36,2h6v27H7Zm20,0h6v27H27Zm20,0h6v27H47Zm-47,33v9H60v-9H0Zm2,2H58v5H2Z"/>
</g>
</g>
</svg>
