<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.30769 92.30769">
    <title>Media Icon</title>
    <g id="Calque_2" data-name="Calque 2">
        <g id="Calque_1-2" data-name="Calque 1">
            <path d="M90.38461,38.46154H73.07692V5.76923A5.66625,5.66625,0,0,0,67.30769,0H5.76923A5.66625,5.66625,0,0,0,0,5.76923V80.38461A11.98309,11.98309,0,0,0,11.92308,92.30769H80.76923A11.57239,11.57239,0,0,0,92.30769,80.76923V40.38461A1.81687,1.81687,0,0,0,90.38461,38.46154Zm-78.46153,50a8.12568,8.12568,0,0,1-8.07693-8.07693V5.76923A1.81687,1.81687,0,0,1,5.76923,3.84615H67.30769a1.81688,1.81688,0,0,1,1.92308,1.92308V40.38461c0,40.96154-1.15385,43.46154,2.88461,48.07693Zm76.53846-7.69231a7.69231,7.69231,0,0,1-15.38462,0V42.30769H88.46154Z"/>
            <path d="M13.46154,34.61538H28.84615a1.81687,1.81687,0,0,0,1.92308-1.92307V13.46154a1.81687,1.81687,0,0,0-1.92308-1.92308H13.46154a1.81687,1.81687,0,0,0-1.92308,1.92308V32.69231A1.81687,1.81687,0,0,0,13.46154,34.61538Zm1.92307-19.23077H26.92308V30.76923H15.38461Z"/>
            <path d="M59.61538,21.15385H40.38461a1.92308,1.92308,0,0,0,0,3.84615H59.61538a1.92308,1.92308,0,1,0,0-3.84615Z"/>
            <path d="M32.69231,42.30769H13.46154a1.92308,1.92308,0,1,0,0,3.84615H32.69231a1.92308,1.92308,0,0,0,0-3.84615Z"/>
            <path d="M59.61538,42.30769H40.38461a1.92308,1.92308,0,0,0,0,3.84615H59.61538a1.92308,1.92308,0,1,0,0-3.84615Z"/>
            <path d="M32.69231,53.84615H13.46154a1.92308,1.92308,0,0,0,0,3.84616H32.69231a1.92308,1.92308,0,0,0,0-3.84616Z"/>
            <path d="M59.61538,53.84615H40.38461a1.92308,1.92308,0,0,0,0,3.84616H59.61538a1.92308,1.92308,0,0,0,0-3.84616Z"/>
            <path d="M32.69231,65.38461H13.46154a1.92308,1.92308,0,0,0,0,3.84616H32.69231a1.92308,1.92308,0,0,0,0-3.84616Z"/>
            <path d="M59.61538,65.38461H40.38461a1.92308,1.92308,0,0,0,0,3.84616H59.61538a1.92308,1.92308,0,0,0,0-3.84616Z"/>
            <path d="M32.69231,76.92307H13.46154a1.92308,1.92308,0,0,0,0,3.84616H32.69231a1.92308,1.92308,0,0,0,0-3.84616Z"/>
            <path d="M59.61538,76.92307H40.38461a1.92308,1.92308,0,0,0,0,3.84616H59.61538a1.92308,1.92308,0,0,0,0-3.84616Z"/>
        </g>
    </g>
</svg>
