<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
<title>Location Icon</title>
<g>
<path d="M63.084,29.042c0-7.054-5.738-12.792-12.792-12.792S37.5,21.988,37.5,29.042c0,7.053,5.738,12.792,12.792,12.792   S63.084,36.095,63.084,29.042z M40.5,29.042c0-5.399,4.393-9.792,9.792-9.792s9.792,4.393,9.792,9.792   c0,5.399-4.393,9.792-9.792,9.792S40.5,34.441,40.5,29.042z">
</path>
<path d="M57.924,64.526L70.083,36.92c0.065-0.143,1.597-3.547,1.417-7.587c0-11.671-9.495-21.167-21.166-21.167   c-11.671,0-21.167,9.495-21.167,21.167c0,2.571,0.456,5.084,1.368,7.501L41.752,64.57C27.441,65.687,13.5,69.893,13.5,77.042   c0,8.309,18.87,12.792,36.625,12.792S86.75,85.351,86.75,77.042C86.75,69.788,72.472,65.576,57.924,64.526z M32.167,29.333   c0-10.017,8.15-18.167,18.167-18.167c10.017,0,18.166,8.149,18.167,18.232c0.148,3.361-1.135,6.249-1.155,6.293L49.602,75.979   L33.329,35.742C32.558,33.698,32.167,31.542,32.167,29.333z M50.125,86.834c-19.816,0-33.625-5.16-33.625-9.792   c0-3.76,10.092-8.438,26.435-9.548l6.549,16.195l7.154-16.243c16.75,1.025,27.112,5.771,27.112,9.596   C83.75,81.674,69.94,86.834,50.125,86.834z">
</path>
</g>
</svg>
