
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.99868 83.32604">
<title>Education Icon</title>
<g id="Calque_2" data-name="Calque 2">
<g id="Calque_1-2" data-name="Calque 1">
<path class="cls-1" d="M50.00142,45.826a7.11535,7.11535,0,0,1-2.76666-.55417L2.31393,26.36771a3.58105,3.58105,0,0,1-.09167-6.6625L47.04726.59687a7.5988,7.5988,0,0,1,5.90416,0L97.77642,19.701a3.59024,3.59024,0,0,1-.18333,6.70833l-44.825,18.8625A7.20744,7.20744,0,0,1,50.00142,45.826ZM5.08059,23.01354,48.84726,41.426a3.02316,3.02316,0,0,0,2.30416,0l43.7625-18.41667L51.31809,4.426a3.388,3.388,0,0,0-2.6375,0Zm-1.24583-.525.025.00833A.05917.05917,0,0,1,3.83476,22.48854Z"/>
<path class="cls-1" d="M50.00142,83.326c-19.09583,0-30.7-10.6-30.81666-10.70417a7.13244,7.13244,0,0,1-2.51667-5.18333V30.07187h4.16667V67.43854a3.11693,3.11693,0,0,0,1.19583,2.1375,44.55049,44.55049,0,0,0,27.97083,9.58333c15.80417,0,26.14166-7.58749,27.85833-9.46666a3.92129,3.92129,0,0,0,1.30833-2.25417V30.07187h4.16667V67.43854a7.60915,7.60915,0,0,1-2.39584,5.05834C78.85142,74.78438,67.48892,83.326,50.00142,83.326Z"/>
<polygon class="cls-1" points="70.81 62.493 66.643 62.493 66.643 38.38 47.035 21.001 49.801 17.884 70.11 35.884 70.81 37.443 70.81 62.493"/>
</g>
</g>
</svg>
