<?xml version="1.0" encoding="utf-8"?>
<title>Facebook</title>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="26" x="0px" y="0px"
	 viewBox="0 0 512 512" xml:space="preserve">
<path d="M373.9,192h-75.2v-42.7c0-22,1.8-35.9,33.3-35.9h39.9V45.6c-19.4-2-38.9-3-58.4-2.9c-57.9,0-100.1,35.3-100.1,100.2V192h-64
	v85.3l64,0v192h85.3V277.3l65.4,0L373.9,192z"/>
</svg>
