<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.75007 93.76563">
<title>Solo Show Icon</title>
<g id="Calque_2" data-name="Calque 2">
<g id="Calque_1-2" data-name="Calque 1">
<path class="cls-1" d="M61.98438,60.40625a.40617.40617,0,0,1,0-.125,1.75,1.75,0,0,0-1.04687-.70313,38.1875,38.1875,0,0,0-44.46875.34376h0A39.57811,39.57811,0,0,0,0,92.0625a1.70313,1.70313,0,0,0,1.70313,1.70313H76.04688a1.70312,1.70312,0,0,0,1.70319-1.70306L77.75,92.04688A39.57812,39.57812,0,0,0,61.98438,60.40625Zm-4.9375.78125a40.35936,40.35936,0,0,1-36.375,0A34.78125,34.78125,0,0,1,57.04688,61.1875ZM3.46875,90.34375a36.125,36.125,0,0,1,14.0625-27,43.75,43.75,0,0,0,42.70312,0,36.10936,36.10936,0,0,1,14.0625,26.98437Z"/>
<path class="cls-1" d="M39.3125,48.03125A24.01563,24.01563,0,1,0,15.29688,24.01563h0A24.01562,24.01562,0,0,0,39.3125,48.03125Zm0-44.59375A20.54687,20.54687,0,0,1,57.84375,15.125a12.78124,12.78124,0,0,1-8.6875-4.875h0a1.73438,1.73438,0,0,0-2.38977-.55238q-.0402.02511-.079.05238c-.125.09375-13.65625,8.8125-23.875,1.90625A20.56253,20.56253,0,0,1,39.3125,3.4375ZM21.04688,14.5625C26,17.89063,32.1875,18.70313,39.09375,16.8125a37.14021,37.14021,0,0,0,8.21875-3.42188,17.18748,17.18748,0,0,0,11.875,5.28125,20.89078,20.89078,0,0,1,.71875,5.34376A20.59375,20.59375,0,0,1,18.73437,25.15q-.01561-.56709,0-1.13439A20.31253,20.31253,0,0,1,21.04688,14.5625Z"/>
</g>
</g>
</svg>
