<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100px" width="100px" fill="#000000" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<title>Locations Icon</title>
<path d="M60.5,32.89258l-21-10l-22,10.47607v44.21533l22-10.47656l21,10l22-10.47559V22.41602L60.5,32.89258z M40.5,25.58362  l19,9.04761v39.78516l-19-9.04761V25.58362z M19.5,34.63135l19-9.04773v39.78516l-19,9.04724V34.63135z M80.5,65.36816l-19,9.04822  V34.63123l19-9.04724V65.36816z"/></svg>
