<div class="col-12">
    <div class="row collection-items">
        {% if template_type == 'page' %}
        
            {% for collection in collections %}

                {% if collection.template_suffix == 'artist' and collection.all_products_count > 0 %}

                    {% include 'partial-collection-card' %}

                {% endif %}

            {% endfor %}

        {% elsif collection.template_suffix == 'artist' %}

            {% for collection in collections %}

            {% if collection.title contains "art pieces" %}

                {% for product_vendor in collection.all_vendors limit: limit_count %}
                    {% assign its_a_match = false %}
                    {% capture my_collection_handle %} {{ product_vendor | handleize | strip | escape  }} {% endcapture %}
                    {% assign my_collection_handle_stripped = my_collection_handle | strip | escape %}
                    {% capture time_seed %}{{ 'now' | date: "%s" }}{% endcapture %}
                    {% for collection in collections %}

                        {% if my_collection_handle_stripped == collection.handle %}

                            {% include 'partial-collection-card' %}

                        {% endif %}

                    {% endfor %}

                {% endfor %}

                {% endif %}

            {% endfor %}

        {% else %}

            {% for product_vendor in collection.all_vendors limit: limit_count %}

                {% assign its_a_match = false %}
                {% capture my_collection_handle %} {{ product_vendor | handleize | strip | escape  }} {% endcapture %}
                {% assign my_collection_handle_stripped = my_collection_handle | strip | escape %}
                {% capture time_seed %}{{ 'now' | date: "%s" }}{% endcapture %}
                {% for collection in collections %}

                    {% if my_collection_handle_stripped == collection.handle %}

                        {% include 'partial-collection-card' %}

                    {% endif %}

                {% endfor %}

            {% endfor %}

        {% endif %}

    </div>
</div>
