<section class="decade-of-action {{ device }}">
    <div class="row">

        <div class="col-12">

            <h2>Decade of Action To Deliver The Goals.</h2>
            <p>The Sustainable Development Goals are gaining global momentum.<br>
                With just 10 years to go, 2020 needs to usher in a decade of ambitious action to deliver the Goals by 2030.</p>
            <p>In response to this decisive decade, Art4Humans has designed a marketplace placing art as a catalyst for impact and sustainable development.<br>
                We are on a mission to provide unique awareness to those defining challenges of our time, global exposure & accessibility to art, while generating funding opportunities for charities.</p>
                <div class="cta__wrapper">
                    {%- include 'partial-cta'  with { cta_label: "Brose Artworks", cta_url: "/collections/all" }  -%}
                </div>
        </div>

    </div>
</section>
