<section>
    <div class="row">
        <div class="col-12 heading__section">
            <h2 class="center">What our community says about Art For Humans</h2>
        </div>
        <div class="col-12">

            <div id="what-they-say-carousel">

                <div class="quote">
                    <p>"Art For Humans is a wonderful project that brings together art, charity, community, and social change all under one roof.</p>
                    <p>I am passionate about art within society and community building and am honoured that I can contribute to these wonderful charities through my work and this initiative.</p>
                    <p>It's the perfect tool!"</p>
                    <p class="quote__meta"><span class="quote__author">Lisa Ochowycz</span> - <span class="quote__author-title"></span>Artist</p>
                </div>

                <div class="quote">
                    <p>"At United Way we know that when you are vulnerable the right connection can change everything. Art for Humans is that connection -where artists, art lovers, and A4H charities all are integral in making our world a better place.</p>
                    <p>We are delighted to be part of this innovative new venture."</p>
                    <p class="quote__meta"><span class="quote__author">United Way Lower Mainland</span> - <span class="quote__author-title"></span>Charity</p>

                </div>

                <div class="quote">
                    <p>"So happy to be a part of such an incredible new initiative supporting artists and charities.</p>
                    <p>We love our new piece!"</p>
                    <p class="quote__meta"><span class="quote__author">Nick &amp; Vanessa</span> - <span class="quote__author-title"></span>Art Lovers couple</p>
                </div>

                <div class="quote">
                    <p>"I am so pleased to be a part of something that not only shares the beauty of art with the world, but also gives something back to the greater community.</p>
                    <p>It is through freely sharing and allowing our generosity to inspire and encourage others that we can truly make a difference.</p>
                    <p>Thank you Art For Humans for this amazing opportunity!"</p>
                    <p class="quote__meta"><span class="quote__author">Monique Cudbertson</span> - <span class="quote__author-title"></span>Artist</p>
                </div>

                <div class="quote">
                    <p>"We're lucky to have had great support from artists that are passionate about conservation - and Art For Humans conveniently connects them to art lovers that share their desire to give back.</p>
                    <p>A4H is a big-hearted idea that couples passion with compassion, celebrates art, and furthers meaningful work for a healthier world"</p>
                    <p class="quote__meta"><span class="quote__author">Grizzly Bear Fundation</span> - <span class="quote__author-title"></span>Charity</p>
                </div>

                <div class="quote">
                    <p>"Collecting fine art is a passion. Discovering artists while doing good is tremendously rewarding.</p>
                    <p>I love this concept!"</p>
                    <p class="quote__meta"><span class="quote__author">Arthur Power</span> - <span class="quote__author-title"></span>Art Lover</p>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
$(document).ready(() => {
    $("#what-they-say-carousel").slick({
        nextArrow: "<button type='button' class='slick-next'>&#155;</button>",
        prevArrow: "<button type='button' class='slick-prev'>&#139;</button>"
    });
});
</script>
