{% comment %}
    Collection Artist Hero Section
{% endcomment %}

    <div class="bg--img" style="background-image: url({{ collection.metafields.global.Collection_cover }})"></div>
    <div class="overlay"></div>
    <div class="row-100">
        <div class="col-md-12">
            <h1>{{ section.settings.title }}</h1>
            <p>{{ section.settings.subtitle }}</p>
        </div>
    </div>


{% schema %}
{
    "name": "Collection Artist Hero",
    "tag": "section",
    "class": "hero hero--2 hero--with-profile",
    "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "All Artist Collections Title",
          "default": "Socially Committed Artist"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "All Artist Collections Subtitle",
          "default": "Proudly contributing to a brighter future"
        }
    ]
}
{% endschema %}
