{% comment %}
    Section build to display all artists
{% endcomment %}

<div class="row">
    <div class="col-12 headings__section">
        <h2 class="alt-h2">{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
    </div>

    {% include 'partial-artist-section', template_type: 'page' %}

</div>

{% schema %}
{
    "name": "Artist Listing",
    "class": "featured__collection",
    "tag": "section",
    "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "A4H Artist Community"
        },
        {
          "id": "subtitle",
          "type": "text",
          "label": "Subtitle",
          "default": "Discover the artists who share our vision:"
        }
    ]
}
{% endschema %}
