{% assign collection = collections[section.settings.collection] %}
<div class="row">
    <div class="col-12">
        <div class="title-has-cta">
            <h2>Featured Artist<span> - {{ collection.title }}</span></h2>
            {%- include 'partial-cta'  with { cta_label: "View <span>artist profile</span>", cta_url: collection.url } -%}
        </div>
        <div class="row collection-items">
            {% for product in collection.products limit:4 %}

                {% include 'partial-product-card', with card_per_row: 4 %}

            {% endfor %}
        </div>
        {% if section.settings.link %}
            <div class="btn-container-center">
                <a class="generic-btn centered" href="{{ section.settings.link }}">{{ section.settings.linktext }}</a>
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Featured Artist",
    "class": "collection collection-of-4",
    "tag": "section",
    "settings": [
        {
            "id": "collection",
            "type": "collection",
            "label": "Artist"
        }
    ],
    "presets": [
      {
        "name": "Featured Artist",
        "category": "Collection"
      }
    ]
}
{% endschema %}
