{% assign title = section.settings.title %}
{% assign cta_label = section.settings.linktext %}

<div class="row">
    <div class="col-12">
        {%- if section.settings.link -%}
            <div class="title-has-cta">
                <h2>{{ title }}</h2>
                {%- include 'partial-cta'  with { cta_label: cta_label, cta_url: "https://a4hproject.myshopify.com/" } -%}
            </div>
        {%- else -%}
            <h2>{{ section.settings.title }}</h2>
        {%- endif -%}
        <div class="collection-items featured-items">
            {% for block in section.blocks %}

                {% assign product = all_products[block.settings.product] %}
                {% include 'partial-product-card', with card_per_row: 4 %}

            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured Artworks",
    "class": "collection collection-of-4",
    "tag": "section",
    "max_blocks": 4,
    "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Hello world"
        },
        {
            "id": "linktext",
            "type": "text",
            "label": "CTA Label",
            "default": "Explore",
            "info": "Add <span></span> arround words that should be hidden on mobile"
        }
    ],
    "blocks": [
        {
            "name": "Art Piece",
            "type": "art-piece",
            "settings": [
                {
                    "id": "product",
                    "type": "product",
                    "label": "Art Piece"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Featured Artworks",
        "category": "Products"
      }
    ]
}
{% endschema %}
