{% assign video_id = section.settings.video %}

<div class="row center">

    <div class="col-12 heading__section">
        <h2>{{ section.settings.title }}</h2>
    </div>

    {% if section.settings.column == "content" %}
        <div class="col-lg-6">{{ section.settings.content }}</div>
        <div class="col-lg-5">{% include 'partial-video-responsive' %}</div>
    {% elsif section.settings.column == "video" %}
        <div class="col-lg-5">{% include 'partial-video-responsive' %}</div>
        <div class="col-lg-6">{{ section.settings.content }}</div>
    {% endif %}

</div>

{% schema %}
{
    "name": "2 col: Content + Video",
    "class": "two-columns two-columns-content-video",
    "tag": "section",
    "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Placeholder Title"
        },
        {
           "type":      "radio",
           "id":        "column",
           "label":     "First Column",
           "options": [
             { "value": "content", "label": "Content" },
             { "value": "video", "label": "Video" }
           ],
           "default":   "content"
       },
       {
            "id": "video",
            "type": "text",
            "label": "Video ID",
            "info": "Paste Here the video ID. By exemple in youtube.com/watch?v=_vVNVZm20qU, the id is _vVNVZm20qU"
        },
        {
            "id": "content",
            "type": "richtext",
            "label": "Text Content",
            "default": "<p>Lorem Ipsum Dolor</p>"
        }
    ],
    "presets": [
          {
            "name": "[2 columns] - Content + Video",
            "category": "Content"
          }
    ]
}
{% endschema %}
