<section class="error-page">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <div class="hand-right">{% include 'Hand framing high' %}</div>
            <h1 class="error-message">Page not found</h1>
            <div class="hand-left">{% include 'Hand framing low' %}</div>
            <p>We can't seem to find the page you were looking for.</p>
            <div class="btn-container-center"><a href="/collections/all" class="secondary-btn">Keep Exploring</a></div>
        </div>
    </div>
</section>
