
<section>
    <div class="row">
        {% include 'partial-collection-menu', bg_color: '', type: 'ngo' %}

        <div class="col-lg-9">

        </div>
    </div>


</section>


<section class="collection">
    <div class="row collection__header">
        <div class="col-lg-6 col-sm-12">
            <h2>{{ collection.title }}</h2>
        </div>
        <div class="col-lg-6 col-sm-12 collection__options">
            {% include 'partial-collection-options', collection_filters: 'false' %}
        </div>

    </div>

    <div class="row collection__wrapper">
        <!--{% include 'partial-collection-filters' %}-->
   		{% paginate collection.products by 50 %}
          <div class="collection-items__wrapper">
              <div class="col-12 collection-items">
                  {% for product in collection.products %}
                    {% include 'partial-product-card' %}
                  {% endfor %}
              </div>
          {% if paginate.pages > 1 %}
           <div class="pagination-container">{{ paginate | default_pagination: next: '>>', previous: '<<' }}</div>
          {% endif %}
      		</div>
        {% endpaginate %}
    </div>
</section>

{% section 'featured-artists' %}
