{%- assign ngos = settings.ngo_list_for_search | split: ',' -%}
{%- assign prices = settings.price_list_for_search | split: ',' -%}


<div class="content__wrapper shop-all__wrapper collection__all">
    <div class="row">
        <div class="col-lg-4">
            {% include 'partial-collection-sidebar', title: "Home of Impact Art" %}
        </div>
        <div class="col-lg-8">

            <section class="collection collection-of-2 collection-has-filters">

                <div class="row collection__wrapper">
                    {% paginate collection.products by 500 %}
                    <div class="collection-items__wrapper col-12">
                        <div class="col-lg-12 collection__options">
                            {% include 'partial-collection-options' %}
                        </div>
                        <div class="col-12 collection-items">
                            {% for product in collection.products %}
                            {% include 'partial-product-card' with filter: true, card_per_row: 2 %}
                            {% endfor %}
                        </div>
                        {% if paginate.pages > 1 %}
                        <div class="pagination-container">{{ paginate | default_pagination: next: '>>', previous: '<<' }}</div>
                        {% endif %}
                    </div>
                    {% endpaginate %}
                </div>

            </section>

        </div>
    </div>
</div>
