<section class="hero hero--1" style="background-image: url({{ settings.homepage_hero_image | img_url: '1024x' }})">
    <div class="overlay"></div>
    <div class="row-100">
        <div class="col-md-2 col-sm-none">
        </div>
        <div class="content col-md-8 order-sm-1">
            <h1>Buy Art 4 Good</h1>
            <div class="btn-container">
                <a class="generic-btn centered" href="/collections/all">SHOWROOM</a>
            </div>
        </div>
        <div class="col-md-2 col-sm-none">
        </div>
    </div>
</section>

{{ content_for_index }}
