<section class="hero" style="background-image: url({{ settings.join_hero_image | img_url: '1920x' }})">
    <div class="row-100">
        <div class="col-md-8">
            <h1>All is welcome.</h1>
            <h3>We at Art For Humans are a big family. We are made up of Artists, Charities, Philanthropists and Volunteers.</h3>
        </div>
    </div>
</section>

<section id="artist" class="">
    <div class="row">

        <div class="col-12">
            <h2>Artists</h2>
            <p>Have you ever wanted to exhibit your work in France, Brazil or Canada? With Art For Humans you can. We provide you with a worldwide showcase whilst allowing you to contribute positively to the charitable sector.</p>
            <p>There is no limit to our dream. We are always looking to bring on more talented artists who are wanting to do social good. Be part of our movement!</p>
        </div>

        <div class="col-12">
            <div class="btn-container-left">
                <a class="generic-btn open-form" href="#" form="artist">Create Your Profile</a>
                <a class="generic-btn open-form" href="#" form="art">Submit An Artwork</a>
            </div>
          	<div class="pxFormGenerator formu-artist" id="4r-MJ_OJaq2amyXBYcLJgA" style="display: none;"><iframe src="https://formbuilder.hulkapps.com/corepage/customform?id=4r-MJ_OJaq2amyXBYcLJgA" title="Form Builder - 4r-MJ_OJaq2amyXBYcLJgA" id="frame_4r-MJ_OJaq2amyXBYcLJgA" frameborder="0" width="100%" style="height: 30px;"></iframe></div>
          	<div class="pxFormGenerator formu-art" id="YOqFDwEcjTrWvY3hdUvFIg" style="display: none;"><iframe src="https://formbuilder.hulkapps.com/corepage/customform?id=YOqFDwEcjTrWvY3hdUvFIg" title="Form Builder - YOqFDwEcjTrWvY3hdUvFIg" id="frame_YOqFDwEcjTrWvY3hdUvFIg" frameborder="0" width="100%" style="height: 30px;"></iframe></div>
          	<p><small>* Link to the <a href="https://artforhumans.org/21924275/policies/1761443878.html">Terms and Conditions</a> and <a href="https://artforhumans.org/21924275/policies/1761411110.html">Privacy Policy</a></small></p>
        </div>

    </div>
</section>

<section id="charities" class="">
    <div class="row">

        <div class="col-12">
            <h2>CHARITIES</h2>
            <p>Have you ever dreamt of an ongoing and effortless source of revenue for your charity? Your A4H dedicated page showcases the art offered to you.</p>
            <p>We have no boundaries, and we’ve made it seamless for registered charities to join our family. We would be delighted to welcome you!</p>
        </div>
        <div class="col-12">
            <div class="btn-container-left">
                <a class="generic-btn open-form" href="#" form="npo">Get your A4H gallery</a>
            </div>
            <div class="pxFormGenerator formu-npo" id="wQ-VLtaHif-r3WEOlYb-sw" style=""><iframe src="https://formbuilder.hulkapps.com/corepage/customform?id=wQ-VLtaHif-r3WEOlYb-sw" title="Form Builder - wQ-VLtaHif-r3WEOlYb-sw" id="frame_wQ-VLtaHif-r3WEOlYb-sw" frameborder="0" width="100%" style="height: 956px;"></iframe></div>
            <p><small>* Link to the <a href="https://artforhumans.org/21924275/policies/1761443878.html">Terms and Conditions</a> and <a href="https://artforhumans.org/21924275/policies/1761411110.html">Privacy Policy</a></small></p>
        </div>

    </div>
</section>


<section id="philanthropist" class="">
    <div class="row">
        <div class="col-12">
            <h2>Philanthropists</h2>
            <p>Art For Humans is a game changer, contributing to a cultural shift. Do you want to create history? Help us bring millions of new customers into our virtuous circle? Share the joy of brightening this world one piece of art at a time?</p>
         	<p>If you answered yes to either of these question please get in touch with us at contact@artforhumans.org.</p>
            <p> We would absolutely love to hear from you!</p>
            <div class="btn-container-left">
                <a class="generic-btn" href="/pages/donate">Donate</a>
            </div>
        </div>
    </div>
</section>

<section id="volunteers" class="">
    <div class="row">
        <div class="col-12">
            <h2>Volunteers</h2>
            <p>We believe that the more we give, the more we get. We work hard and share the joy of making this world a nicer place.</p>
            <p>We are always looking for people who want to bring their creativity, networking skills, technological proficiency, life experience, and all other skill-sets. Human relationships mean the world to us.</p>
          	<p>We would love to hear how you would like to help us!</p>
            <div class="btn-container-left">
                <a class="generic-btn" href="#contact-form">Contact Us</a>
            </div>
        </div>
    </div>
</section>

{% include 'contact-form' %}

<script>
$(document).ready( function () {

    $(".open-form").click(function() {
        var form = $(this).attr('form');
        $('[class*="formu-"').hide();
        if ($('.formu-'+form+':first').is(":visible")) {
            $('.formu-'+form).hide();
        } else {
            $('.formu-'+form).show();
            $('html, body').animate({
                scrollTop: $('.formu-'+form).offset().top
            }, 1000);
        }
    });
    $('[class*="formu-"').hide();

});
</script>
