<section  class="hero" style="background-image: url({{ settings.ngo_hero_image | img_url: '1024x' }})">
    <div class="overlay"></div>
    <div class="row-100">
        <div class="col-md-8">
            <h1>WE EMPOWER CHARITIES TO BRIGHTEN THE WORLD, ONE PIECE OF ART AT A TIME</h1>
          	<h3>Reach a global audience. Gain funding opportunities.</h3>
        </div>
    </div>
</section>

{% section 'page-ngos-list' %}

{% section 'page-ngos-content' %}
