<section  class="hero" style="background-image: url({{ settings.artists_hero_image | img_url: '1920x' }})">
    <div class="overlay"></div>
    <div class="row-100">
        <div class="col-md-6">
            <h1>The More You Give, The More You Get</h1>
        	<h3>A unique way to make a difference for the cause you wish.</h3>
        </div>
    </div>
</section>

{% section 'page-artists-list' %}

{% section 'page-artists-content' %}
