<section  class="hero" style="background-image: url({{ settings.about_hero_image | img_url: '1920x' }})">
    <div class="overlay"></div>
    <div class="row-100">
        <div class="col-md-8">
            <h1>Brightening the World, One Piece of Art at a Time</h1>
            <h3>We aim to create meaningful change and to grow the culture of charity in the world through the love of art.</h3>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-lg-4 text--center">
            <h2>Our Vision</h2>
            <p>We bring artists, art buyers and charities together to promote art and to grow the culture of charity.</p>
        </div>
        <div class="col-lg-4 text--center">
            <h2>Our Mission</h2>
            <p>We redefine, broaden and streamline the art fundraising virtuous circle.</p>
        </div>
        <div class="col-lg-4 text--center">
            <h2>Our Promise</h2>
            <p>Generating endless funding opportunities for charities, unique visibility to artists, a boundless inventory to art buyers, and creating overall everlasting good for society.</p>
        </div>
    </div>
</section>

<section class="">
    <div class="row">
        <div class="col-12 text--center">
            <h2>CONNECTING ART WITH THE 2030 UN SDGs</h2>
          	<p>By placing art as a catalyst for social impact, we empower charities to work towards the defining challenges of our time <a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">(2030 UN Sustainable Development Goals).</a></p>
            </br>
            <p>
                <a class="en" href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank"><img class="lazyload" width="65%" height="65%" src="https://cdn.shopify.com/s/files/1/0108/3890/0832/files/image1170x530cropped.jpg?v=1580220381" alt="ODD"></a>
                <a class="fr" href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/" target="_blank"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/0108/3890/0832/files/19.05.13.-17obj.png?v=1580221787" alt="ODD"></a>
            </p>
        </div>
    </div>
</section>

<section>
    <div class="row center">

        <div class="col-lg-6">
            <h2>Art For Humans Concept</h2>
            <p>Born through our founder's personal experience, both as a photographer and a charity board member, we have bridged the gap between artists, art buyers and charities by creating a unique charitable art marketplace.</p>
            <p>The artists submit their art pieces, set the price and can either give 100% or 50% of the income to their charity of choice. Art lovers can filter search through the marketplace and find their favourite pieces while supporting the greater community.</p>
            <p>Learn more about the concept and its benefits by watching the explainer video.</p>
        </div>

        <div class="col-lg-5">
            <div class="video-responsive lazyload">
                <iframe class="fr" width="100%" height="340" src="https://www.youtube.com/embed/aTaK5z3DW8Y?modestbranding=1&amp;autohide=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                <iframe class="en" width="100%" height="340" src="https://www.youtube.com/embed/_vVNVZm20qU?modestbranding=1&amp;autohide=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
        </div>

    </div>
</section>


<section class="how-it-works">
    <div class="row">
        <div class="col-12">
            <h2 class="center">How it works</h2>
            <img class="lazy" src="https://cdn.shopify.com/s/files/1/2192/4275/files/How_it_works_black_-_large.png" alt="How it works">
        </div>
    </div>
</section>

{% include 'partial-testimonials-slider' %}

<section class="about-core-values">
    <div class="row">
        <div class="col-12">
            <h2>Our Core Values</h2>
        </div>
    </div>
    <div class="row values">
        <div class="value">
            <h3>Genuine</h3>
            <p>We are authentic, transparent, and everything we do is for the good of society.</p>
        </div>
        <div class="value">
            <h3>Joyful</h3>
            <p>We share our happiness of making this world a brighter place with our community.</p>
        </div>
        <div class="value">
            <h3>Inclusive</h3>
            <p>Art for humans is a big-hearted community. Everyone sharing our vision is welcome to join our virtuous circle.</p>
        </div>
        <div class="value">
            <h3>Boundless</h3>
            <p>There is no limit to our dream. Our virtuous circle will benefit the entire world. The more we grow, the bigger impact we have.</p>
        </div>
        <div class="value">
            <h3>Effective</h3>
            <p>We are results driven. We combine today’s most powered technologies with our business acumen to maximize social return.</p>
        </div>
    </div>
</section>

<section id="" class="faq">
    <div class="row">
        <div class="col-12">
            <h2>Frequently asked questions</h2>
            <div class="faq__wrapper">
                <input id="tab1" type="radio" name="tabs" checked="">
                <label for="tab1">Art For Humans</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Artists</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">Art Lovers</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4">Others</label>


                <div id="content1">
                    <details>
                        <summary>What is A4H vision?</summary>
                        <p>Our vision is to bring all artists, art buyers and charities together to promote art and to grow the culture of charity.</p>
                    </details>
                    <details>
                        <summary>What is A4H mission?</summary>
                        <p>We redefine, broaden and streamline the art fundraising virtuous circle. </p>
                    </details>
                   <details>
                        <summary>What is A4H promise?</summary>
                        <p>Generating endless funding opportunities for charities, unique visibility to artists, a boundless inventory to art lovers, and creating overall everlasting good for society.</p>
                    </details>
                    <details>
                        <summary>Why does A4H take a service fee?</summary>
                        <p>A4H is designed to be self-sustainable. This fee is required to cover the operational costs involved without which Art For Humans could not exist.
                        It is important to note that all our efforts are solely dedicated to achieve our social goal.</p>
                    </details>
                </div>
                <div id="content2">
                    <details>
                        <summary>I submitted an artwork to A4H. Will I receive an official tax receipt?</summary>
                        <p>You will receive a tax receipt from the selected charity only once the purchase and delivery is confirmed. The receipt will reflect the percentage you decided to give, as well as the value of your artwork.</p>
                    </details>
                    <details>
                        <summary>When will I receive the tax receipt?</summary>
                        <p>As part of our agreement with the partnered charities, it is their duty to proactively communicate with artists, letting them know when they will receive a tax receipt. Please note that we only partner with registered charities who can emit tax receipts.</p>
                    </details>
                    <details>
                        <summary>I am an artist who would like to donate some of my work, how do I proceed?</summary>
                      	<p>We would love to welcome you to our community!</p>
        				<p>It is a very streamlined process. Please fill <a href="https://artforhumans.org/pages/join" class="yellow-hover">the artist profile form</a> as well as <a href="https://artforhumans.org/pages/join" class="yellow-hover">the artwork form</a>. We will get back to you as soon as possible.</p>
                    </details>
                    <details>
                        <summary>Who selects the artworks?</summary>
                        <p>A simple submission process is in place to ensure that all art pieces from our inventory are in line with our mission.</p>
                    </details>
                </div>
                <div id="content3">
                    <details>
                        <summary>Where does my money go when I buy an artwork through A4H?</summary>
                        <p>Proceeds from the purchase of any artwork displayed on site are either split between the artist and the charity or go directly to the selected charity, depending on the artist choice. The artist choice is clearly indicated on the artwork card and during the purchase process.</p>
                    </details>
                    <details>
                        <summary>If I purchase a piece of art, do I get a tax receipt?</summary>
                        <p>Individual buyers do not qualify for tax receipts as they receive a piece of art through their charitable contribution. The tax receipt goes to the artist of the piece you purchased.</p>
                    </details>
                    <details>
                        <summary>After my purchase, when and how will my piece of art be delivered?</summary>
                        <p>After purchase, you will receive an email confirmation from us providing the delivery details.</p>
                    </details>
                    <details>
                        <summary>Do I have to pay shipping costs?</summary>
                        <p>A free pickup at the artist studio is available. If you desire to receive the artwork, the shipping costs associated are indicated during the checkout. The displayed cost is calculated based on the the shipping destination as well as the weight, value, and size of your artwork.</p>
                    </details>
                </div>
                <div id="content4">
                    <details>
                        <summary>How can my company support A4H?</summary>
                        <p>Here are the many ways you can support us!</p>
                        <p>1. If you want to be an A4H ambassador, please email us at contact@artforhumans.org</p>
                        <p>2. Purchase some art! We ask you to browse through our inventory and take advantage of tax benefits you will receive from purchasing a piece of work.</p>
                        <p>3. Direct donation - please<a href="https://artforhumans.org/pages/donate" class="yellow-hover"> click here</a> to donate now!</p>
         				<p>4. Spread the word!</p>
                    </details>
                    <details>
                        <summary>How can my charity join A4H?</summary>
                        <p>Have you ever dreamt of an ongoing and effortless source of revenue for your charity? We have no boundaries, we’ve made it seamless for registered charities to join our family.</p>
                        <p>Email us at contact@artforhumans.org . We look forward to welcoming you!</p>
                    </details>
                    <details>
                        <summary>How do I get involved in A4H?</summary>
                        <p>We are so happy you’re interested in joining our family! Please email us at contact@artforhumans.org and let us know how you would like to help us! We would love to hear from you!</p>
                    </details>
                    <details>
                        <summary>I want to financially support A4H, what will I get in return?</summary>
                        <p>As we are a non-profit initiative, our patrons and ambassadors aim to help others without a financial return. If you invest in Art For Humans you are investing in making a difference in various individuals lives. You are going to be playing a key role in this virtuous circle. We can’t wait to welcome you to the family! </p>
                    </details>
                    <details>
                        <summary>I want to donate for A4H, how do I proceed?</summary>
                      <p>We are glad that you want to help us nurture our virtuous circle.  <a href="https://artforhumans.org/pages/donate" class="yellow-hover">Please click here</a>. Thank you so much from the bottom of our heart!</p>
                    </details>
                    <details>
                        <summary>I want to work for A4H, how do I proceed?</summary>
                        <p>We would love to hear what you could bring to our table. Please send a Cover Letter and Resume to contact@artforhumans.org. We look forward to hearing from you!</p>
                    </details>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'contact-form' %}
