{% layout 'password' %}

<div class="row lp-launch">
  <div class="col-md-6 wrapper-left">

      <img src="{{ 'pw-logo.png' | asset_url  }}" class="logo" alt="Art For Humans"/>
       
      <div class="dash"></div>
    
    

      <h2>
        Empowering<br>
        <span>meaningful</span><br>
        change.
      </h2>
    
      
	  
       <div class="soon-xs">Launching Soon !<br><br>
      <iframe width="100%" height="280" src="https://www.youtube.com/embed/ogcPCkGEWcw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    
    
      <div class="countdown"></div>
       
      <div style="margin-bottom:20px;">
        <a href="https://www.eventbrite.ca/e/art-for-humans-a4h-vancouver-launch-event-tickets-55052545646" target="_blank"><button class="btn" style="width:auto;padding:10px 45px 13px;">RSVP!</button></a>
      </div>
    
    <p class="pass_desk">
     
        <b>Intrigued? Do you want to join the movement?</b><br>
        We at Art For Humans are a big family. We are made up of artists, charities, art lovers, philanthropists and volunteers.
        We would be delighted to hear from you! 
      </p>
      <p  class="pass_mob">Be the first to be invited to our launch event!</p>
    
      <div style="margin-bottom:10px;">
        <a href="mailto:contact@artforhumans.org" target="_blank"><button class="btn" style="width: auto; padding: 10px 20px 13px; background: #fff; border: solid #fecd07 2px; color: #fecd07;">contact@artforhumans.org</button></a>
      </div>

      <div id="mc_embed_signup" style="display:none">
        <form action="https://artforhumans.us18.list-manage.com/subscribe/post?u=c6adaaaded2733dd81bb2a35e&amp;id=9d6447ec14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6adaaaded2733dd81bb2a35e_9d6447ec14" tabindex="-1" value=""></div>
                    <input type="email"
                      name="EMAIL"
                      id="mce-EMAIL"
                      spellcheck="false"
                      autocomplete="off"
                      autocapitalize="off"
                      placeholder="Your Email"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">Submit</button>
              </div>
          </form>
      </div>
    	



  </div>

  <div class="col-md-6 wrapper-right" style="background-image:url('{{ 'pw-bg.jpg' | asset_url  }}')">

	<div class="overlay">
      <h3>LAUNCHING SOON</h3>
    </div>
    <div class="youtube-pass">
    <iframe width="100%" height="320" src="https://www.youtube.com/embed/ogcPCkGEWcw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </div>
</div>


<script src="{{ 'flipclock.js' | asset_url }}"></script>
<script>
  $(document).ready(function() {
    var date = new Date(2019, 01, 22);
    var now = new Date();
    var diff = (date.getTime()/1000) - (now.getTime()/1000);
    var clock = $('.countdown').FlipClock(diff,{
      countdown :true,
      clockFace: 'DailyCounter',
    });
  });
</script>
