{%- assign ngos = settings.ngo_list_for_search | split: ',' -%}
{%- assign prices = settings.price_list_for_search | split: ',' -%}

<section class="collection">

    <div class="row collection__wrapper">
        {% include 'partial-collection-sidebar', title: "Search Results" %}

        <div class="collection-items__wrapper col-lg-8 ml-auto">
            <div class="col-lg-12 collection__options">
                {% include 'partial-collection-options' %}
            </div>

            <div class="col-12 collection-items" data-masonry="{ "itemSelector": ".product-item", "columnWidth": 200 }">

            {% assign results = search.results | sort: 'created_at' | reverse %}

            {% for product in results %}
            {% if product.available %}
            {% include 'partial-product-card' with filter: true %}
            {% endif %}
            {% endfor %}

            </div>

        </div>

    </div>

</section>
